<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
	<nav>
            <a href="/users/<%=userId%>">Home</a>
            <a href="/events">Events</a>
            <a href="/users/<%=userId%>/show">Profile</a>
            <a href='/auth/logout'>Logout</a>
            <!-- Add user session id into profile href -->
    </nav>
</header>
<body>
    <h1>Event edit page</h1>
</body>
</html>