<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Event</title>
</head>
<header>
	<nav>
    	<ul class="navList">
    		<li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
	        <li class="navItem"><a href="/events">Events</a></li>
	        <li class="navItem"><a href="/users/<%=userId%>/show">Profile</a></li>
	        <h1 class='headline'>Grassroots</h1>	        
	       	<li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>	        
	        <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit Profile</a></li>
        </ul>
	</nav>
</header>
<body>
	<h1>Create Your Next Event</h1>
	<div class='newEventForm'>
		<form action="/events" method="post">
			Event Name: <input type="text" name="name" require="true"><br/>
			Location: <input type="text" name="location" require="true"><br/>
			Date: <input type="date" name="date" require="true"><br/>
			Time: <input type="time" name="time" require="true"><br/>
			Event Pic: <input type="url" name="eventPic"><br/>
			Description: <textarea type="text" name="description"></textarea><br/>
			<button type="submit">Register Event</button>
		</form>
	</div>
</body>
</html>
