<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Event</title>
    <nav>
        <a href="/users">Home</a>
        <a href="/events">Events</a>
        <a href="/users">Profile</a>
            <!-- Add user session id into profile href -->
    </nav>
</head>
<body>
	<h1>Create Your Next Local Event</h1><br/>
	<h2>Please fill out event information below</h2><br/>
	<form action="/events" method="post">
		Name: <input type="text" name="name"><br/>
		Location: <input type="text" name="location"><br/>
		Date: <input type="text" name="date"><br/>
		Time: <input type="text" name="time"><br/>
		Image URL: <input type="text" name="eventPic"><br/>
		Description: <input type="text" name="description"><br/>
		<button type="submit">Register Event</button>
	</form>
</body>
</html>


<!-- **will create an event but wont associate with any user until we do sessions
 -->
<!-- If you give value in a new page it will submit the value and not the input -->
<!-- When you are on an edit you want to put value in there b/c you need something to start with -->