<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Grassroot Connections</h1>
    
    <%= logOut %>
    <%= message %>
    <div class="loginBox">
        <form action="/auth/login" method="post" class="login">
            Email <input name="email" type="email" placeholder="email"><br/>
            Password <input name="password" type="password" placeholder="password"><br/>
            <button type='submit'>Login</button><br/>
        </form>
    </div>
    <form action="/auth/registration" method="get" class="registration">
        <h5>Don't have an account? Click below to register!</h5>
        <button type='Submit'>Create an account</button>
    </form>
</body>
</html>