<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>
    <form action="users/index" method="get">
        Email: <input name="email" type="email" placeholder="email"><br/>
        Password: <input name="password" type="password" placeholder="password"><br/>
        <button type='submit'>Login</button><br/>
    </form>
    <form action="/registration" method="get">
        <button type='Submit'>Create an account</button>
    </form>
</body>
</html>