<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grassroots | Login</title>
</head>
<header>
    <div class="loginHeader">
        <h1 class='loginHeadline'>Grassroots</h1>
    </div>  
</header>
<body> 
    <%= logOut %>
    <%= message %>
    <div class="loginBox">
        <form action="/auth/login" method="post" class="login">
            Email <input name="email" type="email" placeholder="email"><br/>
            Password <input name="password" type="password" placeholder="password"><br/>
            <button type='submit'>Login</button><br/>
        </form>
    </div>
    <form action="/auth/registration" method="get" class="registration">
        <h5 class="noAccount">Don't have an account? Click below to register!</h5>
        <button type='Submit'>Create an account</button>
    </form>
</body>
</html>