<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<header>
	<h1>Register a New User</h1>
</header>
<body>
	<form action="/registration" method="post">
		<input type="text" name="name" placeholder="Your Name"><br/>
		<input type="text" name="displayName" placeholder="Display Name"><br/>
		<input type="text" name="profilePic" placeholder="Profile Picture URL"><br/>
		<input type="text" name="location" placeholder="Your Location"><br/>
		<input type="email" name="email" placeholder="Your Email"><br/>
		<input type="password" name="password" placeholder="Your Password"><br/>
		Event Organizer<input type="checkbox" name="isOrganizer"><br/>
		<button type="submit">Register User</button>
	</form>
</body>
</html>
