<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href=“https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap” rel=“stylesheet”>
	<link rel="stylesheet" href="/CSS/form.css">
	<title>Registration</title>
</head>
<body>
	<header>
		<div class = "newUserPageTitle">
		<h2>Register a New User</h2>
		</div>
	</header>
	<div class = "newUserInputBoxes">
		<form action="/auth/registration" class = "newUserForm" method="post">
			<input type="text" name="name" placeholder="*Your Name*" required="true"><br/>
			<input type="text" name="displayName" placeholder="*Display Name*" required="true"><br/>
			<input type="text" name="profilePic" placeholder="*Profile Picture URL*" required="true"><br/>
			<input type="text" name="location" placeholder="*Your Location*" required="true"><br/>
			<input type="email" name="email" placeholder="*Your Email*" required="true"><br/>
			<input type="password" name="password" placeholder="*Your Password*" required="true"><br/>
			<div><input type="checkbox" name="isOrganizer"> Event Organizer </div><br/>
			<button type="submit">Register User</button>
		</form>
	</div>
</body>
</html>
