body{
    background-color: #cccccc;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}

.buttonCSS{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    transition: 0.4s;
    background-color: #74C43A;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.buttonCSS:hover{
    background-color: #467623;
}

/*newUser Styling*/
.newUserInputBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-content: center;*/
    margin: 55px 0 0 0;
}
h2{
    text-align: center;
    margin: 20px 0 0 0;
}

.newUserPageTitle {
    background-color: #74C43A;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.innerFormProperties {
    width: 600px;
    display: flex;
    justify-content: center;
}


/*all the children of this div*/
.innerInput>input {
    margin: 5px 0;

}

.innerInputEvents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: left;
    height: 334px;
    margin-top: 15px;

}

.innerLabels {
    text-align: right;
    margin-right: 5px;
}

.innerLabelsEvents {
    text-align: right;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 5px;
    height: 334px;
}

.innerLabelsEvents>h3 {
    margin:0;
    height:30px;
}

.newUserForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.bodyEdit {
    text-align: center;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.bodyEditNewEvent {
    text-align: left;

}


.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}

.innerForm {
    display: flex;
    flex-direction: row;
}

.editFormDelete {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Navigation Bar styling*/
.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #74C43A;
}

.headline {
    float: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
}

.navItem {
    float: left;
}

.navItem a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
    font-family: sans-serif;
}

.navItem a:hover{
    background-color: #467623;
}

.active {
    background-color: #467623;
}