body{
    background-color: #cccccc;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Navigation Bar styling*/
.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #74C43A;
}

.headline {
    float: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
}

.navItem {
    float: left;
}

.navItem a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
    font-family: sans-serif;
}

.navItem a:hover{
    background-color: #467623;
}

.active {
    background-color: #467623;
}

/*Main Headinline*/
.mainHeader{
    text-align: right;
    font-size: 30px;
    margin: 0 15px 0 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

/*Headers for Events*/
.eventsHeader{
    text-align: center;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;    
    font-weight: bold;
    text-shadow: .5px .5px .5px #000;
}
/* Event lists styles */

.eventBanner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px 40px 40px;
    margin: 5% 0 5% 0;
    background-color: rgba(116, 196, 58, 0.7);
    border: 2px solid #74C43A;
    border-radius: 5px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #000;  
}

.eventPic {
    grid-column:1;
    grid-row:1/span2;
    text-align: center;
    height: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 50px;
}

.eventTitle {
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
    text-align: center;
}

.date{
    grid-row: 2;
    grid-column: 3;
    margin: 0;
}

.location{
    grid-row: 1;
    grid-column: 3;
    margin: 0;
}

.time{
     grid-row: 3;
    grid-column: 3;
    margin: 0;
}

/*.eventInfo {
    grid-column: 2;
    grid-row: 2;
    justify-content: space-around;
    margin-left: 10px;
  */  /*font-weight: bolder;*/
/*}*/

.eventDescription {
    margin: 0 40px 0 10px;
    grid-column: 2;
    grid-row: 2/ span 1;
    font-size: 20px;
}

/* Login form */
.loginBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    grid-row: 2;
    grid-column: 1;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    margin: 0;
    border: 2px black solid;
    padding: 5px 5px 5px 5px;
}

.registration{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Event show page */
.eventShowPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr .1fr 1fr;
    width: 65%;
    margin: auto;
    border: white 2px solid;
}

.showEventInfo > h1{
    text-align: center;
    font-size: 40px;
}

.eventShowPage > img{
    grid-column: 1/ span 2;
    grid-row: 1;
    margin: 5px auto 5px auto;
    height: 400px;
    border-radius: 10%;
    max-width: 400px;
}

.showEventInfo{
    grid-column: 3/ span 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showEventInfo > h4{
    font-size: 25px;
}

.eventShowDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.eventShowDescription > h6{
    font-size: 25px;
}

.eventShowPage > h2{
    margin-left: 10px;
}

.attendeesList{
    border-top: 2px white solid;
    border-right: 2px white solid;
    grid-row: 3;
    grid-column: 1/ span 4;
    overflow: scroll;
    max-height: 300px;
}

.attendeesList > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.attendeesList > ul > li > a{
    font-size: 30px;
}

.buttonSection{
    grid-row: 2;
    grid-column: 3 / span 4;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.buttonSection > form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.buttonSection > form > button{
    width: 50%;
    height: 70%;
    margin-top: 3%;
}

/* Attendee show page */
.UserShowPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr .1fr 1fr;
    width: 65%;
    margin: auto;
    border: white 2px solid;
}

.UserShowPage > h2{
    grid-column: 1/ span 4;
    grid-row: 2;
}

.UserShowPage > img{
    grid-column: 1/ span 2;
    grid-row: 1;
    margin: 5px auto 5px auto;
    height: 400px;
    border-radius: 10%;
    max-width: 400px;
}

.showUserInfo{
    grid-column: 3/ span 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showUserInfo > h1, .showUserInfo > h4{
    text-align: center;
}

.userShowDescription{
    border: 1px white solid;
    height: 250px;
    overflow: scroll;
}

