body{
    background-color: #d5edc4;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}

/*Navigation Bar styling*/
.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #74C43A;
}

.headline {
    float: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
}

.navItem {
    float: left;
}

.navItem a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
    font-family: sans-serif;
}

.navItem a:hover{
    background-color: #467623;
}

.active {
    background-color: #467623;
}

/*Main Headinline*/
.mainHeader{
    text-align: right;
    font-size: 30px;
    margin: 0 15px 0 0;
}

/*Headers for Events*/
.eventsHeader{
    text-align: center;
}
/* Event lists styles */

.eventBanner {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5% 0 5% 0;
    background-color: rgb(116, 196, 58);
    border: 2px solid #74C43A;
    border-radius: 5px;
    max-height: 350px;
    max-width: 1200px;
    border-radius: 50px;  
}

.eventPic {
    grid-column:1;
    grid-row:1/span2;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 50px;
}

.eventTitle {
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
    text-align: center;
}

.date{
    grid-row: 2;
    grid-column: 3;
    margin: 0;
}

.location{
    grid-row: 1;
    grid-column: 3;
    margin: 0;
}

.time{
     grid-row: 3;
    grid-column: 3;
    margin: 0;
}

/*.eventInfo {
    grid-column: 2;
    grid-row: 2;
    justify-content: space-around;
    margin-left: 10px;
  */  /*font-weight: bolder;*/
/*}*/

.eventDescription {
    margin: 0 0 0 10px;
    font-weight: bolder;
    grid-column: 2;
    grid-row: 2/ span 1;
}

/* Login form */
.loginBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    grid-row: 2;
    grid-column: 1;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    margin: 0;
    border: 2px black solid;
    padding: 5px 5px 5px 5px;
}

.registration{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
