<!DOCTYPE html>
<html>
<head>
	<title>User Index Page</title>
</head>
<header>
	<h1>Welcome<%=user.username%></h1>
	<nav>
		
	</nav>
</header>
<body>
	<h2>Events You're Attending</h2>
	<ul>
		<li>
			<!-- Event Name -->
		</li>
	</ul>
</body>
</html>